:root {
    --bg: rgb(0, 0, 24);
    /* --bg: rgb(45, 4, 4); */
}

/* common */
ul{
    margin:0;
    padding:0;
    padding:10px;

}

ul li{
    padding:0 5px; 
}
h3 {
    font-size: 50px;
    font-family: 'Zeyada';
    padding: 10px 10px 0 10px;
    margin:0;
    color: black;

    /* width:fit-content; */
    height: fit-content;
}
/* =================================== */

/* BODY */
body {
    background-color: var(--bg);
}
/* =================================== */


/* HEADER */
header{
    height:40vh;
    background-color: var(--bg);
}
/* =================================== */

/* nav */
nav li{
    padding: 10px; 
}
/* =================================== */

/* MAIN */
main {
    background-color: var(--bg);
    margin-bottom: 5vh;
}

main #text1{
    padding:20px;
    color:white;
}
#text1 h3{
    text-align: center;
    color:white;
    padding:10px;
    margin-top:7vh;
}
#text1 p{
    text-align: center;
}
#text1 #price1{
    color:aqua;
    text-align: center;
}

/* ========================================== */

/* modal input */
#qty::placeholder {
    color: black;
}

/* ========================================== */
#go-to-checkout button {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 8vh;
}

#go-to-checkout button:hover {
    box-shadow: 1px 1px 10px white;
}

/* ========================================== */
/* bootstrap */
.card{
    min-height:340px;
}

.card:hover {
    box-shadow:1px 1px 10px aqua;
}

/* ========================================== */