
/* common */
/* :root {} */
/* ============================================ */


/* HEADER */
header {
    background-image: url("./images/bg.jpg");  
}

header .overlay {
    opacity: 0.85;
}

header h1 {
    font-family: "Quicksand";
    border: 3px solid white;
    text-align: center;
    margin: 0 30px;
    transition: 400ms ease;
}

header img{
    width:500px;
    height:500px;
    object-fit: cover;
}
/* ============================================ */

/* MAIN */
main {
    background-color: lightgrey;
    line-height: 1.5rem;

    /* opacity: 0.5; */
}
/* ---------------------------- */

main h2 {
    font-size: 42px;
    font-weight: 100;
    text-align: center;
    margin:0;
    margin-top:10px;

    /* padding: 5px 0; */
    color: blue;
}


main h3{
    margin:0;
    margin-top:20px;

    text-align: center;
    font-weight: 700;
}

main p {
    line-height: 1.3rem;
    font-size: 20px;
    font-weight: 100;
    margin:10px 0 30px 0;

    font-family: 'Quicksand', sans-serif;
}

main .intro{
    text-align: center;
}

/* ---------------------------- */
/* sections */
/* ABOUT */
#about{
    min-height:110vh !important;
}
main #about p{
    text-align: center;
    line-height: 1.5rem;
}
#about .vision, 
#about .mission{
    color:white;
    padding:10px;
    border-radius:20px;
    margin-bottom:30px;
    transition:500ms ease;

    /* margin-top:30px; */
}
#about .vision{
    color:black;
    /* background-color: white;
    box-shadow:2px 2px 20px black; */

    /* glass effect */
    /* From https://css.glass */
    background: rgba(8, 0, 17, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(8, 0, 17, 0.35);
}
#about .vision:hover{
    background-color: black;
    color:white;
}

#about .mission{
    color:blue;
    /* background-color: white;
    box-shadow:2px 2px 20px blue; */

    /* glass effect */
    /* From https://css.glass */
    background: rgba(129, 14, 245, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(129, 14, 245, 0.35);

}
#about .mission:hover{
    background-color: blue;
    color:white;
}
/* ---------------------------- */


.card-group img {
    border: 1px solid black;
    border-radius: 0px;
}

/* containers */
main .container {
    padding: 5vh 10px;
    min-height: 100vh !important;
    /* border-radius: 20px; */
}

main #center-diff {
    padding: 5vh 10px;
    min-height: 300px !important;
    /* display: flex;
    justify-content: center; */
}

#portfolio{
    min-height:110vh !important;
}
/* ---------------------------- */

/* BUTTONS */
.btn-link {
    margin: 10vh 0;
    text-decoration: none;
}

.btn-link a {
    width: 300px;
    height: 70px;
    padding: 10px;
    text-decoration: none;
    text-align: center;

    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;

    background-color: white;
    color: black;
    border: none;
    outline: none;

    box-shadow: 2px 2px 30px blue;
    border-radius: 30px;
    cursor: pointer;
    transition: 500ms ease-in;
}

.btn-link a:hover {
    box-shadow: 2px 2px 20px aqua;
    background-color: blue;
    color: white;
}
/* ---------------------------- */

/* container1 / section1 */
/* #inner1 {
    background-color: blue;
    color: white;

    /* height: fit-content; 
    width: 450px;
    padding: 30px 20px;
    border-radius: 30px;

    transition: 700ms ease;
    /* box-shadow: 2px 2px 20px blue; 
}

#inner1:hover {
    box-shadow: 2px 2px 20px blue;
} */


/* section3, prices */
#prices p{
    text-align:center; 
}
/* ============================================ */

